<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    {% block title %}
    <title>On Maps</title>
    {% endblock %}
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "home/css/uikit.min.css" %}" type="text/css">

  </head>
  <body>
    {% block head %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">On Maps</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    {% if user.is_authenticated %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/catalog">Catalog</a>
      </li>
      <a class="nav-link" href="/logout">Logout</a>
      </ul>
    {% else %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>


      <a class="nav-link" href="/home/login">Log In</a>
      <a class="nav-link" href="/home/register">Sign Up</a>

      </ul>
      {% endif %}
</div>

</nav>
    {% endblock %}
    {% block forpro %}
    <div class="container-fluid text-center" style="margin-top:2rem;background-color:black;opacity:0.7;padding-top:2rem;padding-bottom:2rem;margin-top:0px;">
      <style media="screen">
        a{
          color:black;
        }

        a:hover{
          color:black;
        }
      </style>
      <script>
    function goBack() {
      window.history.back();
    }

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <a href="/home" title="Back" uk-tooltip="pos: bottom"><i class="ion-android-arrow-back" style="font-size:2rem;margin-left:1rem;margin-right:1rem;color:white"></i></a>
     <a href="/profile" title="Profile" uk-tooltip="pos: bottom"><i class="ion-home" style="font-size:2rem;margin-left:1rem;margin-right:1rem;color:white"></i></a>
     <a href="/profile/add" title="Add Goods" uk-tooltip="pos: bottom"><i class="ion-ios-cart" style="font-size:2rem;margin-left:1rem;margin-right:1rem;color:white"></i></a>
    <a href="/profile/edit_profile" title="Edit Profile" uk-tooltip="pos: bottom"><i class="ion-compose" style="font-size:2rem;margin-left:1rem;margin-right:1rem;color:white"></i></a>
    <a href="/logout"title="Sign out" uk-tooltip="pos: bottom"><i class="ion-android-exit" style="font-size:2rem;margin-left:1rem;margin-right:1rem;color:white"></i></a>
    </div>
    <br>
    {% endblock %}
    {% block body %}

    {% endblock %}


{% block bottom %}

{% endblock %}

<script src="{% static "home/js/uikit.min.js" %}"></script>
<script src="{% static "home/js/uikit-icons.min.js" %}"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>
