{% extends 'base.html' %}
{% block title %}
<title>On Maps | About Us</title>
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container text-center">
  <div class="" style="margin-top:2rem">
    <style media="screen">
      a{
        color:black;
      }

      a:hover{
        color:black;
      }
    </style>
    <a onclick="goBack();"><i class="ion-android-arrow-back" style="font-size:2rem;margin-left:1rem;margin-right:1rem"></i></a>
<script>
function goBack() {
    window.history.back();
}
</script>
   <a href="/home/home"><i class="ion-home" style="font-size:2rem;margin-left:1rem;margin-right:1rem"></i></a>
  <a href="/home/login"><i class="ion-person" style="font-size:2rem;margin-left:1rem;margin-right:1rem"></i></a>
  </div>
  <div class="uk-card uk-card-default uk-card-body" style="margin-top:3rem">
           <h3 class="uk-card-title">Large</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <hr>
            <div class="row" style="margin:0 auto">
              <div class="col" style="margin:0 auto;margin-bottom:1rem">
                <div class="uk-card uk-card-default uk-width-1-2@m">
  <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="https://www.shareicon.net/data/2016/09/01/822711_user_512x512.png">
          </div>
          <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Bhargav Ram</h3>
              <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
          </div>
      </div>
  </div>
  <div class="uk-card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
  </div>
  <div class="uk-card-footer">
    <a href="#" class="uk-button uk-button-text"> <i class="ion-social-instagram" style="font-size:2rem;margin-left:0.5rem;margin-right:0.5rem;"></i> </a>
    <a href="#" class="uk-button uk-button-text"> <i class="ion-social-twitter" style="font-size:2rem;margin-left:0.5rem;margin-right:0.5rem;"></i> </a>

  </div>
</div>
              </div>
              <div class="col" style="margin:1 auto">
                <div class="uk-card uk-card-default uk-width-1-2@m">
  <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="https://www.shareicon.net/data/2016/09/01/822711_user_512x512.png">
          </div>
          <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Anantha Rohan</h3>
              <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
          </div>
      </div>
  </div>
  <div class="uk-card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
  </div>
  <div class="uk-card-footer">
      <a href="#" class="uk-button uk-button-text"> <i class="ion-social-instagram" style="font-size:2rem;margin-left:0.5rem;margin-right:0.5rem;"></i> </a>
      <a href="#" class="uk-button uk-button-text"> <i class="ion-social-twitter" style="font-size:2rem;margin-left:0.5rem;margin-right:0.5rem;"></i> </a>

  </div>
</div>
              </div>
            </div>
       </div>
   </div>
</div>
</div>
{% endblock %}
