{% extends 'base.html' %}
{% block title %}
<title>On Maps | Sign Up</title>
{% endblock %}
{% block forpro %}
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}


  <div class="container text-center">
        <form class="form-control" method="POST" style="background-color:transparent;border-color:transparent">
          {% csrf_token %}
          <ul style="list-style:none">
            <li><label>Username <br>
              {{form.username}}
            </label></li>
            <li><label>First Name <br>
              {{form.first_name}}
            </label></li>
            <li>  <label>E-mail <br>
                {{form.email}}
              </label></li>
            <li><label>Password <br>
              {{form.password1}}
            </label></li>
            <li>  <label>Confirm Password <br>
                {{form.password2}}
              </label></li>
          </ul>
          <br>
    <input type="submit" class="btn btn-secondary" name="button" value="submit" style="background-color:#C70039;color:white;border-color:transparent;margin-bottom:1rem">

        </form>

</div>




{% endblock %}
